// font-family: 'Kameron', serif;
// font-family: 'Shippori Mincho', serif;
body {
    font-family: 'Kameron', serif;
    font-family: 'Shippori Mincho', serif;
    color: $cBaseFont;
}

h1 {
    margin: 0;
}

.mb-sm {
    margin-bottom: 18px;
}

.mb-lg {
    margin-bottom: 50px;
}