@charset "UTF-8";
/*templatesファイルのvariables.scssを参照している */
/*breakpointsのbase.scssを参照している*/
body {
  font-family: 'Kameron', serif;
  font-family: 'Shippori Mincho', serif;
  color: #707070;
}

h1 {
  margin: 0;
}

.mb-sm {
  margin-bottom: 18px;
}

.mb-lg {
  margin-bottom: 50px;
}

/*modulesの同上*/
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #D6C5FB;
}

.header-container__title {
  margin: auto 0;
  margin-left: 20px;
}

.header-container__menu {
  margin: auto 0;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}

.header-container__menu .header-mobile-menu {
  margin: auto 0;
}

.header-container__menu .header-mobile-menu .mobile-menu-item {
  display: block;
  width: 50px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #646464;
}

.header-container__menu .header-mobile-menu .mobile-menu-item:last-child {
  margin-bottom: 0;
}

.header-container__menu .header-menu {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: -10;
  width: 150px;
  border: solid 1px black;
  background-color: #ebe9e9;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.header-container__menu .header-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.header-container__menu .header-menu .header-menu-list {
  margin: auto 0;
  padding-left: 10px;
  padding-right: 10px;
}

.header-container__menu .header-menu .header-menu-list .header-menu-item {
  display: block;
  margin-bottom: 7px;
  border-bottom: solid 1px black;
  cursor: pointer;
}

.header-container__menu .header-menu .header-menu-list .header-menu-item > a {
  color: black;
  text-decoration: none;
}

.header-container__menu .header-menu .header-menu-list .header-menu-item > a:hover {
  text-shadow: 2px 2px 3px blue;
}

.header-container__menu .header-menu .header-menu-list .header-menu-item:first-child {
  margin-top: 7px;
}

@-webkit-keyframes kf-open-menu {}

@keyframes kf-open-menu {}.main-chg-container .chg-form {
  margin-top: 30px;
}

.main-chg-container .chg-form .chg-form1 .text-form-group1, .main-chg-container .chg-form .chg-form1 .text-form-group2 {
  width: 320px;
  margin: 0 auto;
}

.main-chg-container .chg-form .chg-form1 .text-form-group1 .form-text, .main-chg-container .chg-form .chg-form1 .text-form-group2 .form-text {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 30px;
}

.main-chg-container .chg-form .chg-form1 .text-form-group1 .form-text .form-text-label::after, .main-chg-container .chg-form .chg-form1 .text-form-group2 .form-text .form-text-label::after {
  content: ":";
  margin-left: 5px;
  margin-right: 10px;
}

.main-chg-container .chg-form .chg-form2 .form-btn .form-btn-submit {
  display: block;
  margin: 0 auto;
  padding: 2px 36px;
  background-color: #D0D6F8;
  border: solid 1px #707070;
  color: #707070;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-chg-container .chg-form .chg-form2 .form-btn .form-btn-submit:hover {
  border: solid 1px #3091ff;
  background-color: #b9c2fd;
}

/*それぞれの画面サイズに合わせたもの*/
@media (min-width: 480px) {
  h1 {
    font-size: calc(1.375rem + 1.2vw);
  }
}

@media (min-width: 960px) {
  .header-container__menu .header-mobile-menu {
    display: none;
  }
  .header-container__menu .header-menu {
    position: static;
    background-color: transparent;
    width: auto;
    border: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .header-container__menu .header-menu .header-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item {
    display: block;
    border: solid 1px black;
    border-radius: 0.7rem;
    background-color: #D0D6F8;
    margin-right: 20px;
    padding: 5px 25px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item:hover {
    border-color: #3091ff;
    background-color: #b9c2fd;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item:nth-child(1) {
    margin-top: auto;
    margin-bottom: auto;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item > a {
    display: block;
    margin: auto;
    font-size: 22px;
  }
  .header-container__menu .header-menu .header-menu-list .header-menu-item > a:hover {
    text-shadow: none;
  }
  .main-chg-container .chg-form .chg-form1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-chg-container .chg-form .chg-form1 .text-form-group1 {
    margin-right: 10px;
  }
  .main-chg-container .chg-form .chg-form1 .text-form-group2 {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */